*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    position: relative;
    width: 800px;
    max-width: 840px;
}

.img-container {
    position: absolute;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;

}

img {
    position: absolute;
    width: 100%;
    box-shadow: 0 5px 15px rgb(50 50 50 / 10%);
    display: none;
}

.active {
    display: block;
}


button {
    outline: none;
    cursor: pointer;
}

#prev,
#next {
    height: 50px;
    width: 50px;
    position: absolute;
    background-color: rgba(0, 0, 0, .5);
    color: #ffffff;
    margin: 0;
    top: 0;
    bottom: 0;
    border: none;
    font-size: 18px;
    font-weight: bolder;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

#prev {
    left: -25px;
}

#next {
    right: -25px;
}

#prev:active,
#next:active {
    background-color: transparent;
    color: #000;

}